<div class="flex justify-center pt-16 ">
  <div class="card md:w-1/2 bg:w-1/2 bg-base-100 shadow-xl">
    <figure>
      <%= image_tag 'sign_up_karate.png' %>
    </figure>
    <div class="card-body">
      <h2 class="card-title">Resend confirmation instructions</h2>

      <%= simple_form_for(resource, as: resource_name,
                          url: confirmation_path(resource_name)) do |f| %>
        <%= f.input :email, placeholder: 'Enter email address', label: 'Email',
                    input_html: { class: 'input-bordered w-full', autocomplete: 'email',
                                  autofocus: true,
                                  value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) } %>

        <div class="card-actions justify-end pt-8">
          <%= f.button :button, 'Resend instructions', class: 'btn btn-primary' %>
        </div>
      <% end %>

      <div class="divider"></div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
