<div class="px-6 py-8 lg:px-8  items-center justify-center">

  <%= form_with(model: @learning_material, url: learning_materials_path, class: "form") do |form| %>
  <div class="field mb-4">
    <%= form.label :title, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :title, class: "w-3/4 px-3 py-2 border rounded", required: true %>
  </div>


  <div class="field mb-4">
    <%=form.label :difficulty, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%=form.text_field :difficulty, class: "w-4/5 px-3 py-2 border rounded", required: true %>
  </div>

  <div class="field">
  <%= form.label :image, class: "block text-gray-700 text-sm font-bold mb-2" %>
  <%= form.file_field :image, class: "w-full px-3 py-2 border rounded", required: true %>
</div>


  <div class="actions mb-4">
    <%=form.label :resource_url, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%=form.text_field :resource_url, class: "w-4/5 px-3 py-2 border rounded", required: true %>
  </div>

  <div class="actions">
  <%= form.submit 'Add Learning Material', class: "bg-red-500 text-white py-2 px-4 rounded", style: "display: block;" %>
</div>


  <% end %>
</div>