<!-- app/views/learning_materials/show.html.erb -->
<h1 class="text-3xl font-bold"><%= @learning_material.title %></h1>

<p>
  <strong>Image URL:</strong>
  <%= @learning_material.image_url %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @learning_material.difficulty %>
</p>

<p>
  <strong>Resource URL:</strong>
  <%= @learning_material.resource_url %>
</p>

<p>
  <%= link_to "Edit", edit_learning_material_path(@learning_material), class: "button" %>
  <%= link_to "Delete", learning_material_path(@learning_material), method: :delete, data: { confirm: "Are you sure?" }, class: "button" %>
</p>
