<div class="flex flex-row">
  <div class="basis-1/2 bg-gradient-to-tr from-red-300">
    <div class="flex flex-row">
      <div class="basis-1/4"></div>
      <div class="basis-3/4">
        <div class="pt-20"></div>
        <h1 class="text-6xl uppercase text-red-600 pb-8">African Ruby Community</h1>
        <p>
          A community organization that seeks to promote computer software programming skills with
          the Ruby programming language.
        </p>
        <div class="pb-16"></div>
        <div class="pb-16"></div>
      </div>
    </div>
  </div>
  <div class="basis-1/2 bg-gradient-to-t from-red-600">
    <div class="flex flex-row">
      <div class="basis-3/6"></div>
      <div class="basis-2/6">
        <div class="pt-20"></div>
        <div class="pt-20"></div>
        <div class="pt-20"></div>
        <h1 class="text-4xl uppercase">RubyConf</h1>
        <h1 class="text-4xl uppercase text-white pb-3">Africa 2023</h1>
        <div class="inline-flex text-sm text-white">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
               class="flex-none w-6 h-full w-5 h-5">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm.75-13a.75.75 0
            00-1.5 0v5c0 .414.336.75.75.75h4a.75.75 0 000-1.5h-3.25V5z" clip-rule="evenodd"/>
          </svg>
          <p class="ml-2 truncate">28th June - 30th June</p>
        </div>

        <div class="inline-flex text-sm text-white">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
               class="w-5 h-5">
            <path fill-rule="evenodd" d="M9.69 18.933l.003.001C9.89 19.02 10 19 10
            19s.11.02.308-.066l.002-.001.006-.003.018-.008a5.741 5.741 0
            00.281-.14c.186-.096.446-.24.757-.433.62-.384 1.445-.966 2.274-1.765C15.302 14.988 17
            12.493 17 9A7 7 0 103 9c0 3.492 1.698 5.988 3.355 7.584a13.731 13.731 0 002.273 1.765
            11.842 11.842 0 00.976.544l.062.029.018.008.006.003zM10 11.25a2.25 2.25 0 100-4.5 2.25
            2.25 0 000 4.5z" clip-rule="evenodd"/>
          </svg>

          <p class="ml-2 truncate">Norrsken House | Kigali, Rwanda</p>
        </div>
        <div class="pb-16"></div>
      </div>
      <div class="basis-1/6"></div>
    </div>
  </div>
</div>

<div class="bg-slate-900">
  <div class="px-40 pt-12 pb-4">
    <p class="text-white text-2xl">Events Coming Up</p>
  </div>

  <div class="container mx-auto px-20">
    <div class="carousel carousel-center p-4 space-x-16 bg-slate-900 rounded-box">
      <div class="carousel-item">
        <div class="grid flex-grow w-64 h-48 card bg-base-300 rounded-box 
        place-items-center">content
        </div>
      </div>
      <div class="carousel-item">
        <div class="grid flex-grow w-64 h-48 card bg-base-300 rounded-box place-items-center">
          content
        </div>
      </div>
      <div class="carousel-item">
        <div class="grid flex-grow w-64 h-48 card bg-base-300 rounded-box place-items-center">
          content
        </div>
      </div>
      <div class="carousel-item">
        <div class="grid flex-grow w-64 h-48 card bg-base-300 rounded-box place-items-center">
          content
        </div>
      </div>
      <div class="carousel-item">
        <div class="grid flex-grow w-64 h-48 card bg-base-300 rounded-box place-items-center">
          content
        </div>
      </div>
      <div class="carousel-item">
        <div class="grid flex-grow w-64 h-48 card bg-base-300 rounded-box place-items-center">
          content
        </div>
      </div>
      <div class="carousel-item">
        <div class="grid flex-grow w-64 h-48 card bg-base-300 rounded-box place-items-center">

          content
        </div>
      </div>
    </div>
  </div>

  <div class="flex px-40 pt-12 pb-16 justify-end">
    <a href="#">
      <div class="inline-flex text-sm text-white">
        <p class="text-white text-2xl">
          View more events
        </p>

        <div class="pl-8 self-center">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
               class="w-10">
            <path fill-rule="evenodd" d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0
            111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0
            11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z" clip-rule="evenodd"/>
          </svg>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="bg-zinc-50">
  <div class="flex flex-row">
    <div class="basis-1/2">
      <div class="flex flex-row">
        <div class="basis-1/2"></div>
        <div class="basis-1/2">
          <h1 class="pt-16 text-4xl text-red-600 font-bold text-left">
            African Ruby Community
          </h1>
          <h1 class="text-4xl text-red-600 pb-8 font-bold text-left">
            Who are We?
          </h1>
        </div>
      </div>
    </div>
    <div class="basis-1/2">
      <div class="container pt-16 pr-40">
        <p>
          African Ruby Community, ARC is an organization that was started in 2010. The community
          currently has over reach of over 5,000 members spread across East Africa, made of
          developers
          (Engineers), entrepreneurs, designers and freelancers. In terms of development and
          demonstrations the community focuses on ruby technologies and frameworks, which are all
          open
          source and widely used by startups to prototype and carry out proof of concept with a go
          to
          market strategy.
        </p>
        <br/>
        <p>
          The community hosts weekly and monthly meetups in different cities in East Africa. The
          community brings you Ruby Conference every year with different themes to fill the gap that
          exist between school and industry and in return helps spur innovation and growth in
          contribution to global economy.
        </p>
      </div>

      <div class="flex pt-6 pb-8">
        <a href="#">
          <div class="inline-flex text-sm">
            <p class="text-xl">
              Read more
            </p>

            <div class="pl-4 self-center">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                   class="w-8">
                <path fill-rule="evenodd" d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0
            111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0
            11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z" clip-rule="evenodd"/>
              </svg>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<h1 class="pt-16 text-4xl text-red-600 font-bold text-center">
  Activities
</h1>

<div class="container mx-auto px-20">
  <div class="carousel carousel-center p-4 space-x-4 rounded-box">
    <div class="carousel-item">
      <div class="grid flex-grow w-48 h-48 card rounded-box
        place-items-center">
        <%= image_tag image_path('activities_local_meetups.png'), alt: 'Local meetups photo' %>
        <p>Local Meetups</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="grid flex-grow w-48 h-48 card rounded-box
        place-items-center">
        <%= image_tag image_path('activities_local_conferences.png'), alt: 'Conferences photo' %>
        Conferences
      </div>
    </div>
    <div class="carousel-item">
      <div class="grid flex-grow w-48 h-48 card rounded-box
        place-items-center">
        <%= image_tag image_path('activities_local_programming.png'), alt: 'Programming photo' %>
        Programming
      </div>
    </div>
    <div class="carousel-item">
      <div class="grid flex-grow w-48 h-48 card rounded-box
        place-items-center">
        <%= image_tag image_path('activities_local_workshops.png'), alt: 'Workshops photo' %>
        Workshops
      </div>
    </div>
    <div class="carousel-item">
      <div class="grid flex-grow w-48 h-48 card rounded-box
        place-items-center">
        <%= image_tag image_path('activities_local_hackathons.png'), alt: 'Hackathons photo' %>
        Hackathons
      </div>
    </div>
  </div>
</div>


<div class="flex bg-zinc-50 pt-20">
  <div class="flex-none w-4/12">
    <h1 class="pl-32 text-4xl text-red-600 font-bold">Projects</h1>
    <p class="pl-32 pt-6">ARC members also create open source applications that are of use to the
      wider Ruby
      community and showcase software development skills available.</p>
  </div>
  <div class="flex-auto w-64">
    <div class="container mx-auto px-20">
      <div class="carousel carousel-center p-4 space-x-16 bg-zinc-50 rounded-box">
        <div class="carousel-item">
          <div class="grid flex-grow w-64 h-48 card bg-base-300 rounded-box
        place-items-center">content
          </div>
        </div>
        <div class="carousel-item">
          <div class="grid flex-grow w-64 h-48 card bg-base-300 rounded-box place-items-center">
            content
          </div>
        </div>
        <div class="carousel-item">
          <div class="grid flex-grow w-64 h-48 card bg-base-300 rounded-box place-items-center">
            content
          </div>
        </div>
        <div class="carousel-item">
          <div class="grid flex-grow w-64 h-48 card bg-base-300 rounded-box place-items-center">
            content
          </div>
        </div>
        <div class="carousel-item">
          <div class="grid flex-grow w-64 h-48 card bg-base-300 rounded-box place-items-center">
            content
          </div>
        </div>
        <div class="carousel-item">
          <div class="grid flex-grow w-64 h-48 card bg-base-300 rounded-box place-items-center">
            content
          </div>
        </div>
        <div class="carousel-item">
          <div class="grid flex-grow w-64 h-48 card bg-base-300 rounded-box place-items-center">

            content
          </div>
        </div>
      </div>
    </div>

    <div class="flex px-40 pt-12 pb-16 justify-end">
      <a href="#">
        <div class="inline-flex text-sm">
          <p class="text-2xl">
            View more projects
          </p>

          <div class="pl-8 self-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                 class="w-10">
              <path fill-rule="evenodd" d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0
            111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0
            11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z" clip-rule="evenodd"/>
            </svg>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>