<div class="flex justify-center pt-16 ">
  <div class="card md:w-1/2 bg:w-1/2 bg-base-100 shadow-xl">
    <figure>
      <%= image_tag 'sign_up_karate.png' %>
    </figure>
    <div class="card-body">
      <h2 class="card-title">Change your password</h2>

      <%= simple_form_for(resource, as: resource_name,
                          url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.hidden_field :reset_password_token %>

        <%= f.input :password, placeholder: 'Enter new password', label: 'Password',
                    input_html: { class: 'input-bordered w-full', autofocus: true,
                                  autocomplete: "new-password" } %>

        <%= f.input :password_confirmation, placeholder: 'Confirm new password',
                    label: 'Confirm password', input_html: { class: 'input-bordered w-full',
                                                             autocomplete: "new-password" } %>

        <div class="card-actions justify-end pt-8">
          <%= f.button :button, 'Change my password', class: 'btn btn-primary' %>
        </div>
      <% end %>

      <div class="divider"></div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

