<div id="<%= dom_id conference %>">
  <p>
    <strong>Title:</strong>
    <%= conference.title %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= conference.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= conference.end_date %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= conference.location %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= conference.status %>
  </p>

</div>
