<p style="color: green"><%= notice %></p>

<%= render @conference %>

<div>
  <%= link_to "Edit this conference", edit_conference_path(@conference) %> |
  <%= link_to "Back to conferences", conferences_path %>

  <%= button_to "Destroy this conference", @conference, method: :delete %>
</div>
