<h1 class="pt-16 pb-16 text-4xl text-red-600 font-bold text-center">
  Activities
</h1>

<div class="container m-auto">
  <div class="container grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4
xl:grid-cols-5  gap-2 px-20">
    <div class="flex-grow w-48 h-48 card rounded-box
        place-items-center">
      <%= image_tag image_path('activities_local_meetups.png'), alt: 'Local meetups photo' %>
      <p>Local Meetups</p>
    </div>

    <div class="flex-grow w-48 h-48 card rounded-box
        place-items-center">
      <%= image_tag image_path('activities_local_conferences.png'), alt: 'Conferences photo' %>
      Conferences
    </div>

    <div class="flex-grow w-48 h-48 card rounded-box
        place-items-center">
      <%= image_tag image_path('activities_local_programming.png'), alt: 'Programming photo' %>
      Programming
    </div>

    <div class="flex-grow w-48 h-48 card rounded-box
        place-items-center">
      <%= image_tag image_path('activities_local_workshops.png'), alt: 'Workshops photo' %>
      Workshops
    </div>

    <div class="flex-grow w-48 h-48 card rounded-box
        place-items-center">
      <%= image_tag image_path('activities_local_hackathons.png'), alt: 'Hackathons photo' %>
      Hackathons
    </div>
  </div>
</div>

