<h1 class="pt-16 text-4xl text-red-600 font-bold text-center">
  Activities
</h1>

<div class="container mx-auto px-20">
  <div class="carousel carousel-center p-4 space-x-4 rounded-box">
    <div class="carousel-item">
      <div class="grid flex-grow w-48 h-48 card rounded-box
        place-items-center">
        <%= image_tag image_path('activities_local_meetups.png'), alt: 'Local meetups photo' %>
        <p>Local Meetups</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="grid flex-grow w-48 h-48 card rounded-box
        place-items-center">
        <%= image_tag image_path('activities_local_conferences.png'), alt: 'Conferences photo' %>
        Conferences
      </div>
    </div>
    <div class="carousel-item">
      <div class="grid flex-grow w-48 h-48 card rounded-box
        place-items-center">
        <%= image_tag image_path('activities_local_programming.png'), alt: 'Programming photo' %>
        Programming
      </div>
    </div>
    <div class="carousel-item">
      <div class="grid flex-grow w-48 h-48 card rounded-box
        place-items-center">
        <%= image_tag image_path('activities_local_workshops.png'), alt: 'Workshops photo' %>
        Workshops
      </div>
    </div>
    <div class="carousel-item">
      <div class="grid flex-grow w-48 h-48 card rounded-box
        place-items-center">
        <%= image_tag image_path('activities_local_hackathons.png'), alt: 'Hackathons photo' %>
        Hackathons
      </div>
    </div>
  </div>
</div>
