<div style="background-image: url(<%= image_path('countries.png') %>);">
  <h1 class="pt-16 pb-16 text-4xl text-red-600 font-bold text-center">
    Chapters
  </h1>

  <div class="container mx-auto px-20">
    <div class="carousel carousel-center p-4 space-x-4 rounded-box">
      <div class="carousel-item">
        <div class="grid flex-grow w-44 h-40 card place-items-center border border-red-600
       rounded-b-md rounded-tr-md">
          <%= image_tag image_path 'country_kenya.png' %>
          <div>
            <p class="text-2xl text-red-600">Kenya</p>
            <%= link_to new_user_registration_path do %>
              <p>Join community</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="grid flex-grow w-44 h-40 card place-items-center border border-red-600
       rounded-b-md rounded-tr-md">
          <%= image_tag image_path 'country_rwanda.png' %>
          <div>
            <p class="text-2xl text-red-600">Rwanda</p>
            <%= link_to new_user_registration_path do %>
              <p>Join community</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="grid flex-grow w-44 h-40 card place-items-center border border-red-600
       rounded-b-md rounded-tr-md">
          <%= image_tag image_path 'country_tanzania.png' %>
          <div>
            <p class="text-2xl text-red-600">Tanzania</p>

            <%= link_to new_user_registration_path do %>
              <p>Join community</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="grid flex-grow w-44 h-40 card place-items-center border border-red-600
       rounded-b-md rounded-tr-md">
          <%= image_tag image_path 'country_uganda.png' %>
          <div>
            <p class="text-2xl text-red-600">Uganda</p>

            <%= link_to new_user_registration_path do %>
              <p>Join community</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <a href="mailto:organisers@rubycommunity.africa">
          <div class="grid flex-grow w-44 h-40 card place-items-center border border-slate-900
       border-dashed rounded-b-md rounded-tr-md">
            <%= image_tag image_path 'add.png' %>
            <div class="px-5">
              <p class="text-2xl">Request new chapter</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>
