<footer aria-labelledby="footer-heading">
  <div class="flex flex-row pt-32">
    <div class="basis-2/6">
      <%= link_to root_path, class: "flex justify-end pr-20" do %>
        <%= image_tag image_path('arc_dark_gray_logo.png'), class: 'w-40' %>
      <% end %>
    </div>

    <div class="basis-1/6">
      <ul>
        <li><%= link_to 'Home', root_path %></li>

        <% if FeatureFlag.find_by(name: 'events').try(:enabled) %>
          <li><%= link_to 'Events', '#' %></li>
        <% end %>

        <% if FeatureFlag.find_by(name: 'conferences').try(:enabled) %>
          <li><%= link_to 'Conferences', '#' %></li>
        <% end %>

        <li><%= link_to 'Chapters', '#' %></li>

        <% if FeatureFlag.find_by(name: 'projects').try(:enabled) %>
          <li><%= link_to 'Projects', '#' %></li>
        <% end %>
      </ul>
    </div>
    <div class="basis-1/6">
      <ul>

        <% if FeatureFlag.find_by(name: 'learning_materials').try(:enabled) %>
          <li><%= link_to 'Learning materials', '#' %></li>
        <% end %>

        <% if FeatureFlag.find_by(name: 'members').try(:enabled) %>
          <li><%= link_to 'Members', '#' %></li>
        <% end %>

        <li><%= link_to 'About', landing_about_path %></li>

        <% if FeatureFlag.find_by(name: 'contact_us').try(:enabled) %>
          <li><%= link_to 'Contact Us', '#' %></li>
        <% end %>

        <% if FeatureFlag.find_by(name: 'contact_us').try(:enabled) %>
          <li><%= link_to 'Code of conduct', '#' %></li>
        <% end %>
      </ul>
    </div>
    <div class="basis-1/6">
      <ul>
        <li><%= link_to 'Sponsor', 'mailto:organisers@rubycommunity.africa' %></li>
      </ul>
    </div>
    <div class="basis-1/6">
      <ul>
        <li>
          <%= link_to 'https://twitter.com/ruby_african' do %>
            <div class="inline-flex text-sm">
              <div class="pr-4 self-center">
                <%= image_tag image_path('brands_twitter.png'), class: "w-5" %>
              </div>
              Twitter
            </div>
          <% end %>
        </li>

        <% if FeatureFlag.find_by(name: 'telegram').try(:enabled) %>
          <li>
            <%= link_to '#' do %>
              <div class="inline-flex text-sm">
                <div class="pr-4 self-center">
                  <%= image_tag image_path('brands_telegram.png'), class: "w-5" %>
                </div>
                Telegram
              </div>
            <% end %>
          </li>
        <% end %>

        <li>
        <li>
          <%= link_to 'https://www.facebook.com/rubycommunity.africa' do %>
            <div class="inline-flex text-sm">
              <div class="pr-4 self-center">
                <%= image_tag image_path('brands_facebook.png'), class: "w-5" %>
              </div>
              Facebook
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to '#' do %>
            <div class="inline-flex text-sm">
              <div class="pr-4 self-center">
                <%= image_tag image_path('brands_instagram.png'), class: "w-5" %>
              </div>
              Instagram
            </div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <p class="text-center pt-10 pb-10">All Rights Reserved. Copyright <%= Date.today.year %></p>
</footer>
