<% socials = [
  {
    alt: "ARC Twitter",
    link: "https://twitter.com/ruby_african",
    image: "brands_twitter.png",
    show: true
  },
  {
    alt: "ARC telegram",
    link: "#",
    image: "brands_telegram.png",
    show: FeatureFlag.find_by(name: 'telegram').try(:enabled)
  },
  {
    alt: "ARC facebook",
    link: "https://www.facebook.com/rubycommunity.africa",
    image: "brands_facebook.png",
    show: true
  },
  {
    alt: "ARC Instagram",
    link: "#",
    image: "brands_instagram.png",
    show: true
  },
  {
    alt: "ARC LinkedIn",
    link: "https://www.linkedin.com/company/african-ruby-community/",
    image: "brands_linkedin.png",
    show: true
  },
  {
    alt: "ARC Github",
    link: "https://github.com/nairuby",
    image: "brands_github.png",
    show: true
  }
] %>




<footer aria-labelledby="footer-heading" class="md:pt-32 pt-24 px-20 lg:ml-20">
  <div class="grid md:grid-cols-3 md:gap-4 gap-12 justify-center items-center">
    <%= link_to root_path, class: "justify-end pr-20" do %>
      <%= image_tag('arc_logo_coloured.png', alt: "Community Logo", class: 'w-32 md:w-48') %>
    <% end %>

    <ul class="flex flex-col gap-3">
      <li  class="hover:text-red-600 hover:underline"><%= link_to 'Home', root_path %></li>
      <% if FeatureFlag.find_by(name: 'events').try(:enabled) %>
        <li class="hover:text-red-600 hover:underline"><%= link_to 'Events', '#' %></li>
      <% end %>

      <% if FeatureFlag.find_by(name: 'conferences').try(:enabled) %>
        <li class="hover:text-red-600 hover:underline"><%= link_to 'Conferences', '#' %></li>
      <% end %>

      <li class="hover:text-red-600 hover:underline"><%= link_to 'Chapters', chapters_path %></li>

      <li class="hover:text-red-600 hover:underline"><%= link_to 'Learning materials', landing_learn_path %></li>

      <% if FeatureFlag.find_by(name: 'projects').try(:enabled) %>
        <li class="hover:text-red-600 hover:underline"><%= link_to 'Projects', '#' %></li>
      <% end %>
    </ul>

    <ul class="flex flex-col gap-3">
      <li class="hover:text-red-600 hover:underline"><%= link_to 'Sponsor', 'mailto:organisers@rubycommunity.africa' %></li>

      <% if FeatureFlag.find_by(name: 'members').try(:enabled) %>
        <li class="hover:text-red-600 hover:underline"><%= link_to 'Members', '#' %></li>
      <% end %>

      <li class="hover:text-red-600 hover:underline"><%= link_to 'About', landing_about_path %></li>

      <% if FeatureFlag.find_by(name: 'contact_us').try(:enabled) %>
        <li class="hover:text-red-600 hover:underline"><%= link_to 'Contact Us', '#' %></li>
      <% end %>

      <% if FeatureFlag.find_by(name: 'contact_us').try(:enabled) %>
        <li class="hover:text-red-600 hover:underline"><%= link_to 'Code of conduct', '#' %></li>
      <% end %>
    </ul>
  </div>

  <div class="flex flex-col justify-center items-center pt-12">
      <h1 class="pt-4 pb-12 md:text-4xl text-2xl text-red-600 font-bold text-center">
        Connect
      </h1>
      <ul class="flex md:flex-row flex-col md:mt-4 md:gap-10 gap-5">
        <% socials.each do |social| %>
          <% if social[:show] === true %>
            <li class='md:border-2 border-red-600 p-5 rounded-full'>
              <%= link_to social[:link] do %>
                <%= image_tag social[:image], alt: social[:alt], class: "md:w-5 w-8 hover:scale-105" %>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
  </div>

  <p class="text-center pt-10 pb-10">All Rights Reserved. Copyright <%= Date.today.year %></p>
</footer>
