<!DOCTYPE html>
<html>
<head>
  <title>ArcPlatform</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
<div class="mx-8">
  <div class="bg-white">
    <header class="sticky top-0 z-50">
      <div class="relative bg-white border-b border-red-400">
        <div class="mx-auto flex max-w-7xl items-center justify-between px-4 py-2 sm:px-6
      md:justify-start md:space-x-10 lg:px-8">
          <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost md:hidden">
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
              </svg>
            </label>
            <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow
            bg-base-100 rounded-box w-52 md:hidden">
              <li><%= link_to 'Home', root_path %></li>
              <li><%= link_to 'About', landing_about_path %></li>
              <li><a href="#">Events</a></li>
              <li><a href="#">Conferences</a></li>
              <li><a href="#">Chapters</a></li>
              <li><a href="#">Projects</a></li>
              <li><a href="#">Learning Materials</a></li>

              <% if user_signed_in? %>
                <li><%= button_to "Sign out", destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to 'Sign up', new_user_registration_path %></li>
                <li><%= link_to 'Sign in', new_user_session_path %></li>
              <% end %>
            </ul>
          </div>
          <div class="flex justify-start lg:w-0 lg:flex-1">
            <%= link_to root_path do %>
              <span class="sr-only">African Ruby Community</span>
              <%= image_tag 'arc_logo_coloured.png', class: "h-8 w-auto sm:h-7" %>
            <% end %>
          </div>
          <nav class="hidden space-x-10 md:flex">
            <%= link_to 'Home', root_path,
                        class: "text-sm font-small text-gray-500 hover:text-red-600" %>
            <%= link_to 'About', landing_about_path,
                        class: "text-sm font-small text-gray-500 hover:text-red-600" %>
            <a href="#" class="text-sm font-small text-gray-500 hover:text-red-600">Events</a>
            <a href="#" class="text-sm font-small text-gray-500 hover:text-red-600">
              Conferences
            </a>
            <a href="#" class="text-sm font-small text-gray-500 hover:text-red-600">Chapters</a>
            <a href="#" class="text-sm font-small text-gray-500 hover:text-red-600">
              Projects
            </a>
            <a href="#" class="text-sm font-small text-gray-500 hover:text-red-600">
              Learning Materials
            </a>
          </nav>
          <% if user_signed_in? %>

            <div class="hidden items-center justify-end md:flex md:flex-1 lg:w-0">
              <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "whitespace-nowrap text-sm font-small text-gray-500
            hover:text-red-700 ml-8" %>
            </div>
          <% else %>
            <div class="hidden items-center justify-end md:flex md:flex-1 lg:w-0">
              <%= link_to new_user_registration_path do %>
                <button class="btn btn-sm btn-primary normal-case">Sign up</button>
              <% end %>

              <%= link_to new_user_session_path,
                          class: "whitespace-nowrap text-sm font-small text-gray-500
                          hover:text-red-700 ml-8" do %>
                Sign in
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </header>

    <main style="min-height: 45vh">
      <%= yield %>
    </main>

    <%= render 'layouts/flash_messages' %>
    <%= render 'layouts/footer' %>
  </div>
</div>
</body>
</html>
